/* nav bar */
.spacer {
  height: 80px; /* Adjust this value as needed to create the desired gap */
}
/* product page */
.spacer-2 {
  height: 30px;
}
/* cart page */
.cart-item-row {
  display: flex;
  align-items: flex-start;
  height: 160px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 -1px 0 #000;
  margin-bottom: 10px;
}
.cart-item-photo {
  height: 120px;
}
.cart-item-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.remove-button {
}
