@font-face {
  font-family: 'ToughCookiesBold'; /* Use a unique name for your font */
  src: url('../fonts/ToughCookies-Bold.ttf') format('truetype'); /* Adjust the path to your font file */
}
/* nav bar */
.spacer {
  height: 80px; /* Adjust this value as needed to create the desired gap */
}
.navbar-brand {
  font-family: 'ToughCookiesBold'; /* Use the same unique name as in @font-face */
}
/* product page */
.spacer-2 {
  height: 30px;
}
/* cart page */
.cart-item-row {
  display: flex;
  align-items: flex-start;
  height: 160px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 -1px 0 #000;
  margin-bottom: 10px;
}
.cart-item-photo {
  height: 120px;
}
.cart-item-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
/* checkout page */
.checkout-page-line {
  height: 1px;
  margin-bottom: 10px;
  box-shadow: 0 -1px 0 #000;
}
.checkout-item-row {
  display: flex;
  align-items: flex-start;
  height: 130px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.checkout-item-photo {
  height: 120px;
}
.checkout-item-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.checkout-total,
.checkout-total-components {
  display: flex;
  align-items: flex-start;
}
.total-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
