<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />

    <style>
      .btn {
        width: 100%;
      }
    </style>
    <title>Shop</title>
    <!-- Add Bootstrap CSS and JS links here -->
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent fixed-top">
      <div class="container">
        <!-- Left-aligned "Home" link -->
        <a class="navbar-brand" href="../index.html">INTENTIONS</a>

        <!-- Right-aligned links using ml-auto class -->
        <ul class="navbar-nav d-flex flex-row align-items-center">
          <li class="nav-item">
            <a class="nav-link text-dark" href="">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark ml-3" href="../views/cart.html">
              <i class="fas fa-shopping-bag"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Add a spacer div to create a gap below the navbar -->
    <div class="spacer"></div>

    <!-- Product Cards -->
    <div class="container">
      <div class="row">
        <!-- Example product card (repeat for each product) -->
        <div class="col-md-4">
          <div class="card">
            <img
              src="../images/je-01-23-su/je-01-23-su-front.jpeg"
              class="card-img-top"
              alt="Product 1"
            />
            <div class="card-body">
              <h5 class="card-title">Straight Denim</h5>
              <p class="card-text">$350.00</p>
              <a href="../products/product1.html" class="btn btn-dark"
                >View Details</a
              >
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img
              src="../images/je-02-23-su/je-02-23-su-front.jpeg"
              class="card-img-top"
              alt="Product 2"
            />
            <div class="card-body">
              <h5 class="card-title">Wide Denim</h5>
              <p class="card-text">$350.00</p>
              <a href="../products/product2.html" class="btn btn-dark"
                >View Details</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
